.to-do-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 120px;
  background-color: #78b5f8;
}

.go-btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px;
}

h1 {
  font-size: 60px;
  font-family: sans-serif;
}

input ,
.go-btn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include mq(desktop-up) {
    width: 25%;
  }
}

input {
  font-size: 20px;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: blue;
}

.ul {
  text-align: center;
  list-style: none;
  width: 25%;
  margin: 0 auto;
  padding-left: 0;
  li {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    .removeBtn {
      margin-left: 20px;
      border: none;
      background-color: #03A9F4;
      border-radius: 10px;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
}

.instructions {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  top: 0;
  @include mq(desktop-up) {
    width: 30%;
    transform: translateY(-50%);
    margin: 0;
    font-size: 20px;
    top: 50%;
  }
  ol {
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    margin-bottom: 20px;
    list-style-type: value;
  }
}